body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #2980b9;
    color: #fff;
}

h1 {
    color: #fff;
    font-size: 2em;
}

.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.game {
    display: none;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.button:hover {
    background-color: #2980b9;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-gap: 5px;
    margin-top: 20px;
    justify-content: center;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    cursor: pointer;
    border-radius: 5px;
}

.cell:hover {
    background-color: #f39c12;
}